// Shopping Cart Miniatyr Size

.shoppingCart-miniatyr {
  height: 30px;
  width: 52px;
}

// navbar enhancement
.navbar-brand {
	display: none !important
}

.navbar-default {
	background-color: #fff;
}
.navbar {
	border: 0;
}
@media screen and (min-width: 768px) {
	.navbar-collapse {
	  text-align:center;
	}
	.navbar-nav {
	    display:inline-block;
	    float:none;
	}
}

// breadcrumb-item 
a.breadcrumb-item {
	&:hover {
		text-decoration: none;
	}
}

// logo
.logo {
	position: absolute;
	top: 10px;
	left: 20px;
	width: 50px;
	height: 30px;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
.logo a {
	color: #fff;
	&:hover {
		text-decoration: none;
		color: darken(#fff, 20%)
	}
}

.form-search {
	position: absolute;
	top: 8px;
	left: 100px;
	width: 200px; 
}

@media screen and (max-width: 420px) {
	.form-search {
		width: 150px; 
	}
}

// shopping-cart
.top-area {
	background-color: #e1e1e1;
	height: 50px;
}
.top-area .container {
	position: relative;
}
.shoppingcart {
	position: absolute;
	right: 20px;
	top: 15px;
}
// END Shopping-cart


@media screen and (max-width: 768px){
	.carousel-padding-bottom {
		bottom: 15px;
	}
}

.vertical-spacer {
	height: 40px;
}

img {
    width: 100%;
}
.btn-align-right{
    position: absolute;
    right: 20px;
}

.header-box {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.logo-area {
  font-size: 20px;
}

.search-area .form-control {
  width: 500px;
}


.glyphicon-search:hover {
   cursor: pointer;
}


.btn-align-right{
    position: absolute;
    right: 20px;
}


.product-items img {
  width: 100%;
}

.modal-btn {
  display: inline-block;
}


.td-right {
  text-align:left;
}

.howto p, .contact p {
  margin: 0;

}
.product-header {
	margin: 0;
}
.thumbnail {
	border: none;
}
.thumbnail-container {
	width: 456px;
	height: 236px;
	overflow: hidden;
}
.thumbnail > img{
  cursor: pointer;
}
p.price-row small {
	padding-right: 10px;
}