.navbar-brand {
	// display: none !important
}

.vertical-spacer {
	height: 40px;
}

img {
    width: 100%;
}
.btn-align-right{
    position: absolute;
    right: 20px;
}

.header-box {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.logo-area {
  font-size: 20px;
}

.search-area .form-control {
  width: 500px;
}


.glyphicon-search:hover {
   cursor: pointer;
}


.btn-align-right{
    position: absolute;
    right: 20px;
}


.product-items img {
  width: 100%;
}

.modal-btn {
  display: inline-block;
}


.td-right {
  text-align:left;
}

.howto p, .contact p {
  margin: 0;

}
.product-header {
	margin: 0;
}